body {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.navbar {
  color: #fff;
  text-align: center;
}

.nav-item:hover {
  text-decoration: overline;
}

.welcome-section {
  padding: 3% 3%;
  background-color: #323232;
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 2.5rem;
  line-height: 2;
}

.quote{
  margin-top: auto;
  margin-bottom: auto;
}

.carousel-item{
    width: 100%;
    height: 100%;
}
